@model IEnumerable<EjemploFinal.Models.ProductOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.productName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.productName)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
